<!DOCTYPE html>
<html lang="en">

<head>



<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
{% load static %}
<link rel="stylesheet" href="{% static 'css/simple-sidebar.css' %}"> 
<title>Add recipe</title>

</head>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->

    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      
      <div class="container-fluid">

        <div class="row">
          <div class="col">

            <h4>Hello {{request.session.first_name}}! Please complete your profile:</h4>


            {% if messages %}
                <ul class="messages" style = "color:red">    
                    {% for message in messages %}    
                        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
                    {% endfor %}
                </ul>
            {% endif %} 
            <form action="/addBio" method='post' enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="user_id" value="{{request.session.id}}">
                <p></p>
                City: <input type='text' name='city'>
                <p></p>  
                State: <input type='text' name='state'>
                <p></p>
                Age: <input type='int' name='age'>
                <p></p>
                <span>
                Profile picture: <input type="file" name="profpic" onchange="previewFile()">
                </span><br>               
                <p></p>
                <p>Profile summary - tell others a little about yourself: </p>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="bio" ></textarea>
                <p></p>
                <input type="submit" value = "Submit" class="btn btn-primary" style= "margin-top: 20px"> 
            </form>
          </div>
          <div class="col"></div>
        </div>
    </body>
</html>